:root { /* Global variables */
	--color_dark_1: #1f1f1f;
	--color_theme_1: lightgreen;  
	--color_light_1: white;
	--color_light_2: grey;
}

html {
	font-family: arial;
	color: var(--color_light_1);
	background-color: var(--color_dark_1);
}
